<!-- adding bootstrap -->
<button class="btn btn-primary">Check bootstrap</button>



<!-- interpolation example --how to use component class properties into html file-->
<h1>Hii everyone {{owner}} here</h1>
<p>{{video+" "+audio+" "+end}}</p>
<p>{{video?audio:end}}</p>
<p>{{func()}}</p>

<!-- We cant use interpolation on non string variables -->




<!-- property binding --how to use component class properties both string or non string to html file>

<!-- Method:1  by []-->
<input type="text" [value]='checkpoint'>
 <div hidden={{isHidden}}>checking property binding by performing hidden</div><!--checking property binding by performing hidden</div> here interpolation will not work as hidden is a non string property -->
<div [hidden]="isHidden">checking property binding by performing hidden</div>
<button [disabled]="isDisable">Registration</button>
<!-- Method:2 by bind-  -->
<button bind-disabled="isDisable">Log in</button>






<!-- Event binding by() -->
<br>
<button class="btn btn-primary" (click)="myFunc()">Event binding</button>
<input type="text" [value]="myValue">
<!-- how to get detail of event by using $ in console-->
<br>
<button class="btn btn-primary" (click)="myFunc1($event)">Checking event detail at console</button>






<!-- class binding to add or remove  bootstrap or predefined classes from html element -->
 <br>
<button class="btn btn-danger" [class.active]="isActive">Class binding</button> <!-- go and inspect there ll be 3 class now including active thats how we can add classes dynamically -->






<!-- CSS class binding dynmaically Method:1 this overriders all the predefines class automatically like class btn and btn-primary here -->
<br>
<button class="btn btn-primary" [class]="cssClasses">CSS</button>
<!-- Method:2  -- by this our previou defined css classed does't change-->
<br>
<button class="btn btn-primary" [class.colorFont2]="cssClasses2">CSS2</button>





<!-- style binding -->
<br>
<button class="btn btn-danger" [style.font-weight]="myStyle" >style binding</button>
<!-- we can perform ternary operations in all these things like below -->
<br>
<button [style.color]="isStyle? 'green':'blue'">ternary</button>


<!-- two way binding :binding is done from component to view and vice versa -->
<!-- it is acheived by ngModule it is a directive in angular forms modules we have to import it in app.modules.ts file -->
<!-- Angular's two-way binding syntax is a combination of square brackets and parentheses, [()]. The [()] syntax combines the brackets of property binding, [], with the parentheses of event binding, (), as follows. -->
<input [(ngModel)]="email" (click)="getEmail()">
<!-- ngModel is a directive -->



<!-- here i am using pipes and also a custom parameterized pipe -->
<p>I love {{cars.brand | lowercase}}. speacially {{cars.model| custom:5}} in this company. I am planning to purchase my dream car on {{cars.buydate | date:'fullDate'}}</p>


<!-- directives -->

<!-- 1. ngClass
ng class is a attribute directive. it dynamically bind one or more css classes to an HTML elment.
it should contain key value paor, where the key is the clss name of the class you wwant to add, and the value is a boolean value. -->
<!-- Method 1 -->
<div [ngClass]="'colorFont2 buttonBackground' ">practicing ngClass</div>
<!-- but this is not a good practice we have to write name of all css classes -->
<!-- Method 2 -->
<div [ngClass]="multiClasses">More efficient</div>
<!-- we dont have to write all the classes here we create a object name multiclasses in component class and assign boolean values to css classes as property -->
<!-- search ngClass in angular.io for more info -->

<!-- ngIf is an structural directive it decide what to render dynamically and ng style is attribute directive and used to add inline styles  -->
<div *ngIf ="ownerName==='sachin';else elsepart">
  <div [ngStyle]="multistyles">Yes! you are right</div>  
</div>
 <ng-template #elsepart> <!--that's how we use ng template -->
        Oops! 
</ng-template>


<!-- when multiple conditions are there we use ngSwitch directivs to find the match , the expressions to match are provided by ngSwitchCase if there is no match then ngSwitchDefault directive is rendered. -->
<div [ngSwitch]="favColor">
  <div *ngSwitchCase="'blue' ">My fav is {{favColor}}</div>
  <div *ngSwitchCase="'red' ">My fav is {{favColor}}</div>
  <div *ngSwitchCase="'blue' ">My fav is {{favColor}}</div>
  <div *ngSwitchDefault="white">I dont like any of mentioned color</div>
</div>


<!-- *ngFor Directive in Angular ... NgFor is a built-in template directive that makes it easy to iterate over something like an array or an array of object -->
<div *ngFor=" let uniform  of dress ;index as ab; first as f ;last as g  ;even as i; odd as j">
  {{ab}} {{f}} {{uniform}} {{g}} {{i}} {{j}}
</div>




<!-- Sharing data between parent and child components -->
<!-- Input property :-It is used when parent component send some data to child and child is receiving that data. -->
<!-- {{childmsg}}
<app-new (childData)="childmsg=$event" [parentData]="fullName"></app-new>

<!-- ng-content is used for custom property binding(sending data from parent to child) in a very easy way. we provide ng-content in custom component.ts file and then we can send data from app.component.html between selector. All the data written b/w selector will be passed to child component. -->
<!-- <app-new>
  <button>ngContent</button>
  <div>this is a very easy way to transfer data from parent to child</div>
</app-new> -->



<!-- ng-container allows us to create a division or section in a template without introducing a new HTML element  ng-container is not a directive, component, class, or interface, but just a syntax element. -->
<app-new>
  <ng-container class="headingPart">
    this is header of our card.
  </ng-container>
  <ng-container class="bodyPart">
    this is body of our card.
  </ng-container>
</app-new>
<p>
  {{data2}}
</p>